# DEFAULT attribute
#

[LOCAL]
pem_file = /home/jbernal/Documentos/Access/georesearch.pem
user_local = jbernal
pass_local = mi_pass
path_main = /var/www/html/

[SERVER]
server_ip = 10.10.0.16
user = ubuntu
path_main = /var/www/html/

[GITHUB]
repositorio = https://github.com/desarrollo-georesearch/mastergeo.git
user = jbernalgeo
pass = mi_pass